name: Testing
on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
  create:
    branches:
      - 'main'
    tags:
      - '**'

jobs:
  Lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}
    steps:

    # Install skada
    - name: Checking Out Repository  # yamllint disable-line rule:indentation
      uses: actions/checkout@v5
    # Cache 'skada' datasets
    - name: Create/Restore Skada Data Cache
      id: cache-skada_datasets
      uses: actions/cache@v4
      with:
        path: ~/skada_datasets
        key: ${{ runner.os }}-v3
    # Install Python & Packages
    - uses: actions/setup-python@v6
      with:
        python-version: "3.10"
    - run: which python
    - name: Lint with pre-commit
      run: |
        pip install pre-commit
        pre-commit install --install-hooks
        pre-commit run --all-files


  Minimal:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # CHECK: Not forget to add new version of python
        python-version: ["3.13", "3.12"]
        os: [macos-latest, ubuntu-latest, windows-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
    defaults:
      run:
        shell: bash -l {0}
    steps:

    # Install skada
    - name: Checking Out Repository  # yamllint disable-line rule:indentation
      uses: actions/checkout@v5
    # Install Python & Packages
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'  # caching pip dependencies
    - run: which python
    - name: Install 'skada' package
      run: |
        python -m pip install --upgrade --progress-bar off pip
        python -m pip install -e .[test]
    # Run Tests
    - name: Run Tests without torch
      run: pytest skada --verbose --cov=skada --cov-report term -m="not dataset"


  All:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: [ubuntu-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
    defaults:
      run:
        shell: bash -l {0}
    steps:

    # Install skada
    - name: Checking Out Repository  # yamllint disable-line rule:indentation
      uses: actions/checkout@v5
    # Install Python & Packages
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'  # caching pip dependencies
    - run: which python
    - name: Install 'skada' package
      run: |
        python -m pip install --upgrade --progress-bar off pip
        python -m pip install -e .[deep,test]
    # Run Tests
    - name: Run Tests with torch
      run: pytest skada --verbose --cov=skada --cov-report term -m="not dataset"
    # Codecov
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        verbose: true
        fail_ci_if_error: true
        env_vars: OS,PYTHON
        gcov_ignore: "skada/datasets"
        flags: code
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
