name: Testing
on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
  create:
    branches:
      - 'main'
    tags:
      - '**'

jobs:

  Lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}
    steps:

    # Install skada
    - name: Checking Out Repository
      uses: actions/checkout@v4
    # Cache 'skada' datasets
    - name: Create/Restore Skada Data Cache
      id: cache-skada_datasets
      uses: actions/cache@v4
      with:
        path: ~/skada_datasets
        key: ${{ runner.os }}-v3
    # Install Python & Packages
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - run: which python
    - name: Lint with pre-commit
      run: |
        pip install pre-commit
        pre-commit install --install-hooks
        pre-commit run --all-files



  Test-minimal:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}
    steps:

    # Install skada
    - name: Checking Out Repository
      uses: actions/checkout@v4
    # Cache 'skada' datasets
    - name: Create/Restore Skada Data Cache
      id: cache-skada_datasets
      uses: actions/cache@v4
      with:
        path: ~/skada_datasets
        key: ${{ runner.os }}-v3
    # Install Python & Packages
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - run: which python

    - name: Install 'skada' package
      run: |
        python -m pip install --user --upgrade --progress-bar off pip
        python -m pip install --user -e .[test]
    # Run Tests
    - name: Run Tests without torch
      run: pytest skada/ --verbose --cov=skada --cov-report term
    # Codecov
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}


  Test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}
    steps:

    # Install skada
    - name: Checking Out Repository
      uses: actions/checkout@v4
    # Cache 'skada' datasets
    - name: Create/Restore Skada Data Cache
      id: cache-skada_datasets
      uses: actions/cache@v4
      with:
        path: ~/skada_datasets
        key: ${{ runner.os }}-v3
    # Install Python & Packages
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - run: which python
    - name: Install 'skada' package
      run: |
        python -m pip install --user --upgrade --progress-bar off pip
        python -m pip install --user -e .[deep,test]
    # Run Tests
    - name: Run Tests with torch
      run: pytest skada/ --verbose --cov=skada --cov-report term
    # Codecov
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
